.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background: #f6f6ef;
}

hr {
  border-color: #ff6600;
}

footer {
  justify-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

footer a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

footer a {
  text-decoration: none;
}
